.slider {
    width: 33px;
    height: 33px;
    background-color: oklch(50.8% 0.118 165.612);
    border-radius: 4px;
    position: absolute;
    z-index: 0;
    transition: all 200ms ease-in-out;
}

.view-change {
    animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        translate: 0px -40px;
    }
    100% {
        opacity: 100%;
        translate: 0px 0px;

    }
}