<div class="absolute top-0 w-0 h-screen bg-header-dark transition-all duration-400 flex flex-col" [ngClass]="display() ? 'w-[360px] border-r-4 border-orange-300 rounded-r-md p-4' : 'w-0'">
    @if (display()) {
        <button (click)="this.closeSidebar.emit()" class="absolute right-2 top-2 z-10 bg-gray-900/90  text-white rounded-full flex justify-center items-center w-10 h-10 cursor-pointer">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-x-icon lucide-x"
            >
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
        <h2 [ngClass]="display() ? 'appear' : ''" class="text-4xl font-semibold italic text-white">StickyTodos</h2>
        <div [ngClass]="display() ? 'appear' : ''" class="text-white flex flex-col gap-2 py-5">
            <div class="flex justify-evenly items-end">
                <h3 class="text-3xl font-semibold">Lists</h3>
                <button class="sticky-yellow text-black px-3 py-1 font-semibold rounded-md cursor-pointer flex justify-center items-center">
                    New List 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                </button>
            </div>
            <hr class="border-2">
            <div class="flex flex-col">
                @for (list of (noteLists | async); track $index) {
                    <app-sidebar-list [list]="list"></app-sidebar-list>
                }
            </div>
        </div>
    }
</div>